/***********************
 * Global styles
 **********************/
 
    @font-face {
             font-family: 'Inspire-Black';
             src: url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Black.eot');
             src: url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Black.eot?#iefix') format('embedded-opentype'),
             url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Black.woff2') format('woff2'),
             url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Black.woff') format('woff'),
             url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Black.svg#InspireTWDC-Black') format('svg');
             font-weight: normal;
             font-style: normal;
            }  
   @font-face {
             font-family: 'Inspire-Medium';
             src: url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Medium.eot');
             src: url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Medium.eot?#iefix') format('embedded-opentype'),
             url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Medium.woff2') format('woff2'),
             url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Medium.woff') format('woff'),
             url('https://cdn.flashtalking.com/82563/inspireTWDC_fonts/InspireTWDC-Medium.svg#InspireTWDC-Medium') format('svg');
             font-weight: normal;
             font-style: normal;
            } 

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*.ad-size {
  width: 728px;
  height: 90px;
}
*.hidden {
  opacity: 0;
}
*.absolute {
  position: absolute;
}
*.relative {
  position: relative;
}
sup {
  font-size: 60%;
  position: relative;
  margin-top: -2px;
  margin-left: -3px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Inspire-Black", Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  font-style: normal;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***********************
 * Ad styles
 **********************/

div#container {
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #707070;
  box-sizing: border-box;
}
div.bg-frame {
  top: -1px;
  left: -1px;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}
div.bg-frame:last-child {
  z-index: -2;
}
div.bg-frame > img{
  position: absolute;
  top: -12%;
  -ms-transform: rotate(0.02deg);
  -moz-transform: rotate(0.02deg);
  transform-style: preserve-3d;
  transform-origin: center center;
  image-rendering: smooth;
  backface-visibility: hidden;
  will-change: transform;
}
div.bg-frame > div.credits {
   text-align: right;
   padding: 10px;
}
div.bg-frame > div.credits span {
   position: absolute;
    z-index: 9; 
}
div.copy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0 4px 13px;
  pointer-events: none;
}
div.copy > div#headline {
  font-weight: normal;
  letter-spacing: 0;
  line-height: 100%;
}
div.copy > div#subheadline {
  font-weight: normal;
  letter-spacing: 0;
  line-height: 120%;
  top: 4px;
}
div.copy > div#headline > span,
div.copy > div#subheadline > span {
  display: block;
}
div.copy > div#percent {
  font-size: 38px;
  font-weight: normal;
  line-height: 100%;
  padding: 0 0 .3rem 0;
  display: none;
}
div.copy > div#price {
  font-size: 38px;
  font-weight: normal;
  line-height: 100%;
  padding: 0 0 .3rem 0;
  letter-spacing: -.01em;
  display: none;
}
div.copy > div#percent > span,
div.copy > div#price > span {
  display: inline-block;
}
div.copy > div#percent > span.sign {
  font-size: 37%;
  padding-top: 0.28em;
  position: absolute;
  line-height: 100%;
}
div.copy > div#price > span.value {
  /*margin-left: -10px;*/
}
div.footer {
  bottom: 0;
  right: 0;
  width: 28%;
  height: 100%;
  background-color: #fff;
  pointer-events: none;
}
div.footer > div.logo-container {
  top: 10px;
  width: 142px;
  height: 30px;
  max-width: 142px;
  max-height: 30px;
  
}
div.footer > div.logo-container img#logo{
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
div.footer > div.logo-container img#logo img{
  top: 0;
  left: 0;
}
div.footer > div#legal {
  font-family: "Inspire-Medium", Arial, "Lucida Grande", sans-serif;
  color: #707070;
  font-size: 8;

}
div.footer > div#cta {
  top: 47px;
  font-size: 11px;
  text-align: center;
  margin: 1px 0 0 0;
  font-weight: normal;
  letter-spacing: -0.35px;
  color: #fff;
  background-color: #0a7ab8;
  padding: 8px 34px;
  border-radius: 50px;
  transform-origin: center;
  white-space: nowrap;
  text-align:center;
}
div.footer > div#cta > span {
 display: inline-block;
}

.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}